// gutters
$gutter: 20px;
$gutter-half: calc($gutter / 2);
$gutter-quarter: calc($gutter / 4);

// colours
$colour-primary: #fcd45d; // yellow
$colour-secondary: white; // white
$colour-tertiary: #F7F7F7; // light grey

$colour-primary-dark: darken($colour-primary, 40%);
$colour-secondary-dark: darken($colour-secondary, 10%);
$colour-tertiary-dark: darken($colour-tertiary, 15%);

$colour-text: #323232;
$colour-text-light: lighten(#323232, 50%);

// font weights
$font-weight-light: 200;
$font-weight-medium: 500;
$font-weight-heavy: 700;